@import url('https://fonts.googleapis.com/css2?family=Oi&family=Story+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&family=Oi&family=Story+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Playwrite+US+Trad+Guides&family=Story+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Playwrite+US+Trad+Guides&family=Story+Script&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
/*Encabezado*/
.Encabezado{
    width: 100%;
    height: 300px;
    background: url('./fondo.png') no-repeat;
    background-size: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#Logo{
    height: 400px;
    padding-top: 100px;
    filter: drop-shadow(15px 20px 8px rgb(2, 34, 138));
}
#LogoT{
    font-family: "Story Script", sans-serif;
    font-size: 90px;
    color: rgb(30, 8, 129);
    text-shadow: 8px 8px 15px rgba(191, 189, 189, 0.959);
}

.indice{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-right: 20px;
}
.indice li{
    list-style: none;
    font-size: 40px;
    font-family: "Irish Grover", system-ui;
    background: rgb(84, 74, 226);
    border-radius: 15px;
    padding: 0px 15px;
    opacity: 0.5;
    color: rgb(10, 20, 156);
}
.indice li:hover{
    opacity: 1;
}

/*Secciones*/
.secciones{
     width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: justify;
}
.historia{
    width:70%;
}
.Tipos{
    width: 70%;
}
.titule1{
    font-family: "Story Script", sans-serif;
    font-weight: 900;
    display: flex;
    justify-content: center;
    font-size: 60px;
    padding: 20px 0;
 }

.parrafos{
   font-family: "Story Script", sans-serif;
   line-height: 1.5;
}
#poin{
    width: 450px;
    height: 400px;
    object-fit: cover;
    border-radius: 50px 25px;
    corner-shape:scoop;
    padding-top: 25px;
    }  
    
.centrar{
    width: 100%;
    display: flex;
    justify-content: center;
}
#video{
    padding-top: 25px;
}
#Video{
    padding-top: 25px;
    width: 200px;
    height: 300px;
    border-radius: 50%;
    transition: 0.7s;
    margin-top: 25px
    
}
#Video:hover{
    width: 450px;
    height: 400px;
    border-radius: 0;
    padding-top: 25px;
    
}
footer{
    width: 100%;
    height: 120px;
    background: rgb(8, 31, 163);
    display: flex;
    justify-content: center; 
    align-items: center;
    font-family: "Science Gothic", sans-serif;
    font-size: 22px
}
footer img{
    width: 70px;
    height: 70px;
    margin: 0px 15px;
    transition: 0.5s;
}
footer p{
    color: aqua;
    font-size: 30px;
    margin-top: 20px;
}
#centerf{
    display: flex;
    gap: 30px;
}